body{
    margin: 0%;
}

header{
    background-image: url(../img/pattern.png) ;
    background-color: #4BA4F2;
    background-repeat: repeat;
    background-size: 33%;
}

.size-logo{
    width: 150px;
    padding-top: 5%;
}

.blue-bold-text{
    color: rgb(76, 163, 192);
    font-weight: bold;
}

.lightgray-text{
    color: lightgray;
}

.underline{
    background-color: yellow;
}

table{
    border-spacing: 0;
}
.larghezza25{
    width: 25%;
}

.larghezza50{
    width: 50%;
}

thead{
    background-color: #4BA4F2;
}

.light-blue-box{
    background-color: #B3ECF2;
}






