body{
    margin: 0%;
}

header{
    background-image: url(../img/pattern.png) ;
    background-color: #4BA4F2;
    background-repeat: repeat;
    background-size: 33%;

}

.size-logo{
    width: 150px;
    padding-top: 5%;
}

.blue-bold-text{
    color: rgb(76, 163, 192);
    font-weight: bold;
}

.lightgray-text{
    color: lightgray;
}

.no-margin{
    margin: 0;
}

.highlighted{
    background-color: yellow;
}

table{
    border-spacing: 0;
}
.larghezza25{
    width: 25%;
}

.larghezza50{
    width: 50%;
}

ul{
    padding-left: 2%;
}

thead{
    background-color: #4BA4F2;
    text-align: justify;
    color: white;
}

.light-blue-box{
    background-color: #B3ECF2;
}

.text-img{
    background-image: url(../img/monitor.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 185px;
    color: white;
    font-weight: bold;
}

.text-img2{
    background-image: url(../img/graph.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 165px;
    color: white;
    font-weight: bold;
}




